<mat-tab-group mat-align-tabs="center" animationDuration="2000ms">
<mat-tab label="REACT" >
 <mat-card>
 <div>
   <img src="../../../assets/images/rukzana.PNG" alt="Avatar" class="avatar">
   <img src="../../../assets/images/keerthi.PNG" alt="Avatar" class="avatar">
   <img src="../../../assets/images/raseel.PNG" alt="Avatar" class="avatar">
   <img src="../../../assets/images/reshma.PNG" alt="Avatar" class="avatar">
 </div>
</mat-card>
</mat-tab>
<mat-tab label="ANGULAR" style="justify-content: center;align-items: center;display: flex;">
 <mat-card>
   <div>
   <img src="../../../assets/images/vasif.PNG" alt="Avatar" class="avatar">
   <img src="../../../assets/images/ridwan.PNG" alt="Avatar" class="avatar">
   <img src="../../../assets/images/anzalna.PNG" alt="Avatar" class="avatar">
   <img src="../../../assets/images/amal.jpeg" alt="Avatar" class="avatar">

 </div>
 </mat-card>
</mat-tab>
</mat-tab-group>
