<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet"  />
    <title>Sign in</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="#" class="sign-in-form" (submit)="login()">
            <h2 class="title">Sign in</h2>
            <div class="input-field">
              <i class="material-icons">person</i>
              <input   type="text"
                name="email"
                placeholder="Enter Email"
                [(ngModel)]="credentials.email"/>
                </div>
                <div class="input-field">
                  <i class="material-icons">lock</i>
                  <input type="password" placeholder="Password" name="password"
                  [(ngModel)]="credentials.password" />
                </div>
                <button type="submit" value="Login" class="btn solid" >Login</button>

           
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>New here ?</h3>
            <p>
             EASY TO ADOPT & SIMPLE TO SCALE
            </p>
            <button routerLink="/register"class="btn transparent" id="sign-up-btn">
              Sign up
            </button>
          </div>
          <img src="assets/images/log.svg" class="image" alt="heklloo" />
        </div>
      </div>
    </div>
  </body>
</html>
